:root{
    --primary-font: 'Roboto', sans-serif;
    --secondary-font:'Raleway', sans-serif;
    --accent-color:#404BBF;
    --primary-text-color:#2E2F42;
    --secondary-text-color:#434455;
}

/*COMPONENTS**********************************/

h1,
h2,
h3,
h4,
p{
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img{
    display: block;
}

button{
    cursor: pointer;

}

.list{
  list-style: none;  
}

.link{
    text-decoration: none;
    
}



 body{
font-family: var(--primary-font);
color: var(--secondary-text-color);
background-color: #FFF;
}



/*

*/


/*COMPONENTS**********************************/

.logo {
    font-family:'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-right: 76px;
}

.logo-part{
    color:#2E2F42 ;
}

.logo-style{
    
    color: #F4F4FD;
}

.sub-title {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.secondary-title{
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
margin-bottom: 72px; 
align-items: center;
}


.title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}

/*COMPONENTS**********************************/


.container{
    padding: 0 16px;
}

@media screen and (min-width: 428px){
   .container{
    width: 428px;
     margin-left: auto;
     margin-right: auto;
   }
}

@media screen and (min-width: 768px){
.container{
    width: 768px;
}
}

@media screen and (min-width: 1158px){
   .container{
    width: 1158px;
} 
}

/*HEADER-MOBILE**********************************/


@media screen and  (max-width:767px) {
  .menu-list{

display: none;
}

.contacts-link{
    display: none;
}
  

.mobile-menu-open-btn{
padding-left: 0;
padding-right: 0;
line-height: 0;
    background-color: transparent;
    border: none;
   
}


.mobile-menu{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 1px 6px rgba(46, 47, 66, 0.08);
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
   
}

.mobile-menu.is-open{
    opacity: 6;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
}



.mobile-container{
    position: relative;
    padding: 80px 0 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  
}

.mobile-menu-close-btn{
    position: absolute;
    top: 24px;
    right: 21px;
display: flex;
justify-content: center;
align-items: center;
background: #E7E9FC;
border: 1px solid #2E2F42;
border-radius: 50%;
padding: 0;
width: 24px;
height: 24px;
}

.mobile-menu-close-icon{
    fill: #2E2F42;
     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-btn:hover,
.mobile-menu-close-btn:focus{
    border: none; 
    background-color: #404BBF;
}
 


.mobile-item:not(:last-child){
    margin-bottom: 40px;
}



.menu-list-link {
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.menu-list-link:hover,
.menu-list-link:focus{
    color: #404BBF;
}


.mobile-contacts-item:not(:last-child) {
    margin-bottom: 40px;
}

.mobile-contacts-item:last-child{
    margin-bottom: 48px;
}

.mobile-contacts-link-tel {
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #4D5AE5;
}

.mobile-contacts-link-email{
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #434455;
}

.mobile-social-list {
display: flex;
gap: 56px;

}

.mobile-social-list-item {
}

.mobile-social-list-link {
     display: flex;
   align-items: center;
   justify-content: center;
   background: #4D5AE5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 8px;
}

.mobile-social-list-icon {
    fill: #FFFFFF;
}

}



.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header{
    padding: 24px 0;
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}


.contacts {
    display: flex;
    align-items: center;
    font-style: normal;     
    }
    
    .contacts-list {
      display: flex;
    align-items: center;
    column-gap: 40px;
    }

/*HEADER-MOBILE**********************************/





/*HERO-MOBILE****************************************/

.hero{
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
    margin: 0 auto;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width:428px),
screen and (min-resolution: 192dpi) and (max-width:428px),
screen and (min-resolution: 2dppx) and (max-width:428px){
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/hero/hero-bg-mobile@2x.jpg');
  }
}

.conteiner-hero {
 padding: 112px 54px;   
display: flex;
flex-direction: column;
justify-content: center;
  align-items: center;
}



.main-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 72px;
}

.main-btn{
    padding: 16px 32px;
    background-color: #4D5AE5;
    color: #FFF;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .main-btn:hover,
    .main-btn:focus{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: #404BBF;
    }



/*HERO-MOBILE****************************************/




/*FEATURE-MOBILE***************************************/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .feature{
    padding: 96px 0;
   
 }

 .container-feature{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }


.feature-item:not(:last-child){
    margin-bottom: 72px;
}


 .border-feature-icon{
    display: none;
 }

.feature-title{
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
}


.feature-sub-title{
    font-weight: 500;
}


/*FEATURE-MOBILE***************************************/



/*WORK-MOBILE****************************************/

.work{
    display: none;
}

/*WORK-MOBILE****************************************/


/*TEAM-MOBILE****************************************/

.team{
    background-color: #F4F4FD;
    padding: 96px 0;
}


.team-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 72px;
}

.team-item{
    border-radius: 0px 0px 4px 4px; 
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
}


.team-img{
    max-width: 100%;
    height: auto;
   }

.team-title{
    text-align: center;
}



.team-sub-title{
    margin-bottom: 8px;
    text-align: center;
}

.border-team{
    padding: 32px 0; 
    border-top: none;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.social-list{
    display: flex;
    justify-content: center;
    gap: 24px;
}


.social-list-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:#4D5AE5;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus{ 
    background-color: #404bbf;
}

.social-list-icon{
    fill: #F4F4FD;
}

/*TEAM-MOBILE****************************************/




/*CLIENT-MOBILE*********************************/


.client{
    padding: 96px 0;
}

.client-list{
    display: flex;
    flex-wrap: wrap;
 justify-content: space-between;
align-items: center;
row-gap: 72px;
}


.client-list-item{
    width: calc((100% - 16px) / 2);
    height: 88px;
}


.client-list-link{
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex; 
    align-items: center;
    justify-content: center;
    color: #8e8f99;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.client-icon{
    width: 110px;
    height: 56px;
}

.client-list-link:hover,
.client-list-link:focus{
    border-color: #404bbf; 
    color: #404bbf;
}


.client-icon{
  fill: currentColor;
}


/*CLIENT-MOBILE*********************************/



/*FOOTER-MOBILE******************************************/


.footer {
    background-color:#2e2f42;
    padding: 96px 0;
}


.container-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-info{
   margin-bottom: 72px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

.logo-footer{
    font-family:'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px; 
}

.footer-desc {
    font-weight: 400;
    width: 264px;
font-size: 16px;
line-height: calc(24/16);
letter-spacing: 0.02em;
color: #F4F4FD;

}

.footer-social-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
    text-align: center;
    }


.footer-social-list{
        display: flex;
        margin-bottom: 72px;
        gap: 16px;
}
    
.footer-social-link{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 40px;
     height: 40px;
    border-radius: 50%;
     background-color:#4D5AE5;
     color: #F4F4FD;
     transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    
    
.footer-list-icon{
    fill: currentColor;
}



.footer-social-link:hover,
.footer-social-link:focus{
    background-color:#31d0aa; 
}


.footer-form__wrapper {
    width: 100%;
}
        
.footer-form__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 16px;
    }
           
.footer-form__input{
    height: 40px;
    width: 100%;
    border: 1px solid #ffffff; 
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5; 
    letter-spacing: 0.04em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); 
    border-radius: 4px; 
    color: #ffffff;
    padding: 8px 16px;
            
}
        
.footer-form__input::placeholder{
    color: #ffffff;
}

.footer-form__btn{
   margin: 16px auto 0 auto;
    height: 40px;
    width: 165px;
    padding: 8px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
            color: #ffffff;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        
.footer-form__btn:hover,
.footer-form__btn:focus{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
background-color: #404BBF;
}


.footer-form__icon{
    margin-left: 16px;
}
    
.backdrop.is-hidden{
    opacity: 0;
    visibility: hidden; 
    pointer-events: none;
    }
    

.backdrop {
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
        }
        
.modal {
    padding: 72px 24px 24px 24px;
position: absolute;
top: 50%;
left: 50%;
width: 392px;
min-height: 576px;
transform: translate(-50%, -50%);
background: #FCFCFC;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}

.modal-btn-close {
position: absolute;
display: flex;
justify-content: center;
align-items: center;
top: 24px;
right: 24px;
border-radius: 50%;
padding: 0;
width: 24px;
height: 24px;
background: #E7E9FC;
border: 1px solid rgba(0, 0, 0, 0.1);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
        
.modal-btn-close-img {
fill: #2E2F42;
 transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn{
   
    }
    
.modal-btn-close:hover,
.modal-btn-close:focus{
    border: none; 
    background-color: #404BBF;
}
    
.modal-btn-close:hover .modal-btn-close-img,
.modal-btn-close:focus .modal-btn-close-img{
    fill:#FFF;
}

        
.modal-form {
    display: flex;
    flex-direction: column;
}
     
.modal-form__text {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: #2E2F42;
margin-bottom: 16px;
}
        
        
.modal-form__filds{
  margin-bottom: 8px;    
}
        
            
.modal-form__field {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-bottom: 4px; 
}

.modal-form__wrapper{
    position: relative;
}
        
.modal-form__input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.2); 
    border-radius: 4px;
    padding-left: 38px;
    background-color: transparent;
    outline: transparent; 
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-form__input:focus{
    border-color: #4D5AE5;
}
        
.form-icon{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus + .form-icon{
    fill: #4D5AE5;
}

        
          
.modal-form__textarea{
    margin-bottom: 16px;
}
    
.modal-form__message {
resize: none;
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em; 
    color: rgba(46, 47, 66, 0.4); 
    border: 1px solid rgba(46, 47, 66, 0.2);
    padding: 8px 16px;
    border-radius: 4px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__message:focus{
    border-color: #4D5AE5;
}

.modal-form__message::placeholder{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}
        
    
.modal-form__check{
    margin-bottom: 24px;
}

    
.modal-form__check-desc{
    
    font-weight: 400;
    font-size: 11px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.modal-form__fake-check {

    display: inline-flex;
    justify-content: center;
    align-items: center;
    fill: transparent; 
    width:16px;
    height: 16px;
    border: 1px solid #2e2f42;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    
}
    
.modal-form__checkbox:checked + .modal-form__check-desc .modal-form__fake-check{
    border: none;
    fill:#ffffff;
    border-color: #404bbf; 
    background-color: #404bbf; 
}
        
        
.form-link{
    color: #4D5AE5;
}
        
.modal-form__submit {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding: 16px 32px;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    align-self: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-form__submit:hover,
.modal-form__submit:focus{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: #404BBF;

}
        
/*FOOTER-MOBILE******************************************/

/**CARDS******************************************************/

.cards{
    padding: 48px 0;
}


.filters-item:first-child{
    margin-bottom: 16px;
}


.filter-list{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: 24px;
    padding-right: 120px;
     margin-bottom: 48px;
}



.filter-btn {
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid #e7e9fc;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;    
    color:  #4d5ae5;
    background-color: #F4F4FD;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
     border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus{
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
    0px 2px 1px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);
    background-color: #404BBF;
    color: #FFF;
}


.cards-list{
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}



.cards-link{
    display: block; 
   transition:box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) ; 
}

.cards-img{
    max-width: 100%;
    height: auto;
}


.cards-border{
    padding: 32px 16px;
    border: 1px solid #e7e9fc; 
    border-top: none;
    background: #FFFFFF;
    
}


.cards-sub-title{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    }

    
    .overlay{
        display: none;
    }   


@media screen and (min-width: 320px) and (max-width: 426px){


    .mobile-contacts-link-tel {
        font-weight: 500;
        font-size: 25px;
    }


    .mobile-social-list {
        gap: 40px;
    }

    .main-title{
        font-weight: 500;
        font-size: 24px;
    }


    .filter-list{
        padding-right:0;
        
    }
    
    
}












@media screen and (min-width:768px){

.modal{
    width: 408px;
}

.modal-form__check-desc{
    font-size: 12px;
}

    .mobile-menu-open-btn{
        display: none;
    }
   .mobile-menu{
    display: none;
   }

.header{
    padding: 16px 0;
}

   .header-nav{
    display: flex;
    align-items: center;
    column-gap: 44px;
   }

.menu-list{
    display: flex;
    column-gap: 40px;
}

.menu-item{
    color: #404bbf; 
}
   
   .menu-link {
      position: relative;  
       display: block;    
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #2E2F42;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
   
   .current{
       color: #404bbf; 
      
   }
   .current::after{
       content: '';
       position: absolute;
    display: block;
    left: 0; 
       height: 4px;
     width: 100%;
     bottom: -25px;
     background: #404BBF;
   border-radius: 2px;
   }
   
   
   .menu-link:hover,
   .menu-link:focus{
       color:#404BBF;
   }
   

.contacts-list {
  flex-direction: column;
gap: 12px;
}


.contacts-link {
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.02em;
color: #434455;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus{
    color: #404BBF;
}


.conteiner-hero {
    padding: 112px 136px;
}


.hero{
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-bg-tablet.jpg);
}

@media screen and (min-device-pixel-ratio: 2) and (min-width:768px) and (max-width:1157px),
screen and (min-resolution: 192dpi) and (min-width:768px) and (max-width:1157px),
screen and (min-resolution: 2dppx) and (min-width:768px) and (max-width:1157px){
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/hero/hero-bg-tablet@2x.jpg');
  }
}


.main-title {
    
    font-size: 56px;
    line-height: 1.07;
    text-transform: none;
    margin-bottom: 36px;
}


.feature-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 72px;
    column-gap: 24px;
}


.feature-item{
    align-items: flex-start;
}

.feature-item:not(:last-child) {
    margin-bottom: 0;
}

.feature-title{
    text-align: start;
}


.client-list-item{
    width: calc((100% - 88px) / 3);
    height: 88px;
}

.client-icon{
    width: 104px;
}


.container-footer {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 24px;
   
}

.footer-info {
    align-items: flex-start;

}


.footer-social-title {
    text-align: start;
}


.footer-form__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-left: 110px;
}

.footer-form{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.footer-form__input {
    width: 264px;
}

.footer-form__btn {
     margin: 0 0 0 24px;
}




.cards {
    padding: 64px 0 96px 0;
}


.filter-list {
    justify-content: center;
     padding-right: 0;
    margin-bottom: 64px;
}


.filters-item:first-child{
    margin-bottom: 0;
}




.cards-list {
    row-gap: 72px;
}


.cards-link:hover,
.cards-link:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
    
}


.card-link-img-wrapper{
    position: relative;
    overflow: hidden;
}


.overlay{
    display: block;
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #F4F4FD;
background: #4D5AE5;
padding: 40px 32px; 


position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
transform: translate(0,100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}

.cards-item:hover .overlay,
.cards-item:focus .overlay{
    transform: translateY(0%);
}


}















@media screen and (min-width:1158px){
    .contacts-list{
        display: flex;
        align-items: center;
      flex-direction: row;
      gap: 40px;
    }

    .contacts-link {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
    }

.header{
    padding: 24px 0;
}


.conteiner-hero{
    padding:188px 0;
}


.hero{
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-bg-images.jpg);
}

@media screen and (min-device-pixel-ratio: 2) and (min-width:1158px),
screen and (min-resolution: 192dpi) and (min-width:1158px),
screen and (min-resolution: 2dppx) and (min-width:1158px){
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/hero/people-office@2x.jpg');
  }
}

.main-title{
    margin-bottom: 48px;
    max-width: 496px;
    }


    .feature{
        padding: 120px 0;
       
     }
     
     .container-feature{
        flex-direction: row;
        width: 100%;
     }
     
     .feature-list{
     display: flex;
     align-items: center;
     gap: 24px;
     }
     
     .feature-item{
         width: 264px;
     }

     .feature-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }


     .feature-sub-title {
        font-weight: 400;
    }


   
     
     .border-feature-icon{
         display: flex;
         align-items: center;
         justify-content: center; 
         height: 112px;
         padding: 24px 100px;
         margin-bottom: 8px;
         background-color: #F4F4FD;
     border-radius: 4px;
     }


     .work{
        display: flex;
        padding-bottom: 120px;
    }
    
    
    .work-list{
     display: flex;
      gap: 24px;
    }
    
    
    .work-img{
       
        max-width: 100%;
        height: auto;
    }


    .team{
        background-color: #F4F4FD;
        padding: 112px 0;
    }
    
    .team-img{
        max-width: 100%;
        height: auto;
       }

       .team-list {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        gap: 24px;
    }
  

    .client{
        padding: 120px 0;
    }
    
    
    .client-list{
       
    gap: 24px;
    }
    
    .client-list-item{
        width: calc((100% - 120px) / 6);
        height: 88px;
    }
    



    

.footer {
    padding: 100px 0;

}

.container-footer{
    display: flex;
   
    flex-wrap: nowrap;
    align-items: baseline;
}

.footer-info{
    margin-right: 120px;
}


.container-footer {
    gap: 0;
}



.footer-form__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0;
}

.footer-form__wrapper {
margin-left: 30px;
}



.footer-form__field{
margin-right: 0;
    
}


.cards{
    padding: 100px 0 120px;
}

.filter-list{
     margin-bottom: 72px;
}


.filter-btn {
    padding: 12px 24px;
}


.cards-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(3,1fr);
  row-gap: 48px;

}





}






